:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #a3b18a;
  --secondary-color: #588157;
  --media-secondary-font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
}

h1 {
  font-size: 62px;
  line-height: 1em;
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
  font-family: var(--secondary-font);
}

button {
  background-color: #a3b18a;
  border: none;
  font-family: var(--secondary-font);
  font-size: 12px;
  padding: 10px 15px;
}

button:hover {
  background-color: #588157;
  transition: all ease-in-out 500ms;
}

.bg-color {
  background-color: var(--secondary-color);
}

.hero {
  background-color: #babf95;
  padding: 150px;
}

.hero p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  width: 550px;
}

.sub-text ul {
  color: rgba(0, 0, 0, 0.6);
  margin: 30px -50px;
}

.sub-text li {
  display: inline;
  font-family: var(--secondary-font);
  margin: 20px; /* between each item */
  list-style-type: none;
}

.about-section {
  background-color: #babf95;
  margin: 50px 0 0 0;
  padding: 100px;
}

.about-section h1 {
  text-align: center;
  text-transform: none;
}

.about-statement {
  color: rgba(0, 0, 0, 0.6);
  background-color: white;
  margin: 0 auto;
  padding: 200px;
}

.bg-mission {
  background-image: url("/images/community.jpg");
  background-size: cover; /* Ensures the image covers the entire section */
  background-position: 25% 5%;
  background-repeat: no-repeat;
  padding: 50px;
}

.mission-position {
  margin: 100px 50px;
}

.mission-style {
  /* h2 */
  font-size: 32px;
}

.bg-contact {
  background-color: #babf95;
  padding: 15px;
}

.contact-style {
  /* h3 */
  font-size: 28px;
  color: white;
}

.contact-style a {
  color: white;
  text-decoration: none;
  transition: all ease-in-out 500ms;
}

.contact-style a:hover {
  color: black;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.card-item {
  color: white;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.card-item::before {
  /* Background image styling*/
  background-size: cover;
  background-position: center;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.5 ease;
}

.card-item::after {
  /* Color above background image */
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
  position: absolute;
  z-index: 1;
}

.card-content {
  /* Styling content */
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding: 30px;
  position: relative;
  z-index: 2;
}

.card-food-shelf::before {
  background-image: url("/images/foodshelf.jpg");
}

.card-food-shelf::after {
  background-color: var(--primary-color);
}

.card-community-engagment::before {
  background-image: url("/images/hands.jpg");
}

.card-community-engagment::after {
  background-color: var(--secondary-color);
}

.card-content i {
  font-size: 42px;
  margin-bottom: 15px;
}

.card-content h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.card-content p {
  font-size: 15px;
}

.card-item:hover::before {
  transform: scale(1.05); /* Image slightly zooms on hover */
}

@media (max-width: 576px) {
  .hero {
    margin: 0;
    padding: 60px 30px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: var(--media-secondary-font-size);
    max-width: 300px;
  }

  .sub-text ul {
    font-size: var(--media-secondary-font-size);
  }

  .sub-text li {
    display: block;
  }

  button {
    font-size: 10px;
    padding: 5px 10px;
  }

  .card-item {
    max-height: 200px;
  }

  .card-content i {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .card-content h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .card-content p {
    font-size: var(--media-secondary-font-size);
  }

  .about-section {
    font-size: 32px;
    padding: 60px 30px;
  }

  .about-section h1 {
    font-size: 42px;
  }

  .about-statement {
    padding: 50px;
    font-size: var(--media-secondary-font-size);
  }

  .mission-position {
    font-size: var(--media-secondary-font-size);
  }

  .mission-style {
    font-size: 25px;
  }

  .bg-mission {
    background-image: url("/images/community.jpg");
    background-size: cover; /* Ensures the image covers the entire section */
    background-position: top;
    background-repeat: no-repeat;
    padding: 10px;
  }

  .contact-style {
    font-size: 20px;
  }
}
